 <div class="container">
  <div class="row">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" novalidate>
      <div *ngIf="employee && employee.id" class="form-group">
        <label class="center-block">id:
        <input class="form-control" formControlName="id">
      </label>
      </div>
      <div class="form-group">
        <label class="center-block">first_name:
        <input class="form-control" formControlName="first_name">
      </label>
      </div>
      <div class="form-group">
        <label class="center-block">last_name:
        <input class="form-control" formControlName="last_name">
      </label>
      </div>
      <div class="form-group">
        <label class="center-block">email:
        <input class="form-control" formControlName="email">
      </label>
      </div>
      <button type="submit" class="btn btn-success">Save</button> &nbsp;
    </form>
  </div>
</div> 